<main class="island">
<h1>Angular Groundhog</h1>

<h2>Expandable</h2>
<h3>Examples</h3>
<p>
  <gh-expandable title="Click Me" >
    <p>Peekaboo</p>
  </gh-expandable>
</p>
<p>
  <gh-expandable title="Click Me" trigger="right">
    <p>Peekaboo</p>
  </gh-expandable>
</p>
<p>
  <gh-expandable title="Click Me" separated="true">
    <p>Peekaboo</p>
  </gh-expandable>
</p>
<h3>API</h3>
<h4>Component - Selector</h4>
<p>gh-expandable</p>
<h4>Properties</h4>
<dl class="definition-list">
  <dt>title</dt>
  <dd>specifies title for the expandable trigger</dd>
  <dt>trigger</dt>
  <dd>omited or anything other than 'right' results in a left trigger, 'right' results in a right trigger</dd>
  <dt>separated</dt>
  <dd>results in separation lines being shown</dd>
</dl>

<h2>Inputfield</h2>
<h3>Examples</h3>
<p>
  <gh-input-container>
    <input type="text" gh-inputfield>
  </gh-input-container>
</p>
<p>
  <gh-input-container>
    <label gh-label>Label</label>
    <input type="text" gh-inputfield>
  </gh-input-container>
</p>
<p>
  <gh-input-container>
    <input type="text" gh-inputfield>
    <p gh-hint>
      Lorem ipsum hint
    </p>
  </gh-input-container>
</p>
<p>
<h3>API</h3>
<p>An Input container needs to have an input child with a <strong>gh-inputfield</strong> directive.
A container was used to have angular work with the native input element. Angular form validation works for the underlying gh-inputfield</p>
<h4>Component - Selector - Container</h4>
<p>gh-input-container</p>
<h4>Properties</h4>
<dl class="definition-list">
  <dt>uid</dt>
  <dd>can be omited - if set - sets the id and for attribute of underlying <strong>gh-label</strong> and <strong>gh-inputfield</strong></dd>
</dl>
<h4>Inputfield - Directive</h4>
<p>gh-input-field</p>
<h4>Label - Directive</h4>
<p>gh-label</p>
<h4>Hint - Directive</h4>
<p>gh-hint</p>
</main>